node_modules
.vscode
/.vitepress/cache/
/.vitepress/dist/
/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.DS_Store
.idea
.temp
.vite_opt_cache
dist
cache
temp
examples-temp
pnpm-global
